.Credicard-One{
  background-color: #4DA799;

  height: 250px;
  width: 500px;
  border-radius: 2em;

}

.Credicard-Box{
  height: 250px;
  width: 500px;
  /* border: orange solid 1px; */
  border-radius: 2em;
  background-color: #EEEEEE;
  margin-top: 20px;

}

.img{
  width: 100px;
  height: 50px;
 margin-top: 20px;
   margin-left: 390px;
  /* position: relative; */
  /* float: right 245px; */
  
}

.Credicard-Three{
  /* display: flex; */
  height: 250px;
  width: 500px;
  /* border: orange solid 1px; */
  border-radius: 2em;
  background-color:#D8BC65;
  margin-top: 20px;
  /* margin-left: 5em; */

}

.number{
  font-size: 35px;
}


.type{
  text-align: right;
  margin-right: 50px;
  font-size: 30px;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */

}
.expire{
  /* font-size: 20px; */
  color: #FFFFFF;
  font-size: 20px;
  /* background-color: blue solid 1px; */
}


.expirationMonth{
  color: #FFFFFF  ;
  font-size: 20px;

}

.container{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  /* border: black solid 1px; */

}

.alinear{
  display: flex;
  /* gap: 10px; */

}

.center{

  display: flex;
  /* flex-direction: column; */
  /* border: yellow solid 1px; */
  /* height: 100px; */
  /* justify-content: center; */
  /* border: solid red 1px; */

}
.bank{
  color: white;
  font-size: 20px;
}

.owner{
  color: white;
  font-size: 20px;

}

.expirationYears{
  /* font-size: 20px; */
  color: white;
  font-size: 20px;

  
}

.aligElement{
  display: flex;
}
.number{
  color: white;
}

.cssClass{
  background-color: #222222;
}

.bgcolor{
 background-color: #11aa99;
}

.alineado{
  display: flex;
  gap: 10px;
}

.center{
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  /* border: blue solid 1px; */
}
